.admin-view__content {
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  padding: 7rem;
  overflow: hidden;
  height: 100vh;
  overflow-y: auto;
}

.admin-view__tours {
  border-radius: 3px;
  box-shadow: 0 0 20rem rgb(0 0 0 / 10%);
  margin-bottom: 4rem;
}

.card__header {
  position: relative;
}
.card__picture {
  position: relative;
  -webkit-clip-path: polygon(0 0, 100% 0%, 100% 83%, 0% 98%);
  clip-path: polygon(0 0, 100% 0%, 100% 83%, 0% 98%);
  height: 22rem;
  border-radius: 3px 3px 0 0;
}
.card__picture-overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  background-image: -webkit-gradient(
    linear,
    left top,
    right bottom,
    from(#7dd56f),
    to(#28b487)
  );
  background-image: linear-gradient(to right bottom, #7dd56f, #28b487);
  opacity: 0.7;
  border-radius: 3px 3px 0 0;
}
.card__picture-img {
  -o-object-fit: cover;
  object-fit: cover;
  height: 100%;
  width: 100%;
  border-radius: 3px 3px 0 0;
}
.card__details {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-row-gap: 1.75rem;
  grid-column-gap: 2rem;
  padding: 2.5rem 3rem;
}
.card__sub-heading {
  font-size: 1.2rem;
  text-transform: uppercase;
  font-weight: 700;
  grid-column: 1 / -1;
}
.card__text {
  grid-column: 1 / -1;
  font-size: 1.5rem;
  font-style: italic;
  margin-top: -1rem;
  margin-bottom: 0.75rem;
}
.card__data {
  font-size: 1.3rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.card__data svg {
  margin-right: 0.7rem;
}
.card__icon {
  height: 2rem;
  width: 2rem;
  fill: #55c57a;
}

.card__footer {
  padding: 2.5rem 3rem;
  border-top: 1px solid #55c57a;
  font-size: 1.4rem;
  display: flex;
  justify-content: space-between;
}
