.section-payment {
  padding-top: 8rem;
  background-color: #f7f7f7;
}

.payment {
  position: relative;
  max-width: 105rem;
  margin: 0 auto;
  overflow: hidden;
  background-color: #fff;
  padding: 5rem;
  border-radius: 2rem;
  -webkit-box-shadow: 0 3rem 8rem 0.5rem rgba(0, 0, 0, 0.15);
  box-shadow: 0 3rem 8rem 0.5rem rgba(0, 0, 0, 0.15);
}

.card {
  margin: 2rem 0.6rem;
}

.card_label {
  font-size: 2rem;
  font-weight: bold;
  color: #55c57a;
}
